[Unit]
Description=Gunicorn instance to serve CaseApp
After=network.target

[Service]
User=silent
Group=www-data
WorkingDirectory=/home/silent/Deployment/CaseApp
Environment="PATH=/home/silent/Deployment/cicd/bin"
ExecStart=/home/silent/Deployment/cicd/bin/gunicorn --workers 3 --bind 0.0.0.0:9090 run:app

[Install]
WantedBy=multi-user.target
