[Unit]
Description=Gunicorn instance to serve CaseApp
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/CaseApp
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 --bind 0.0.0.0:9090 run:app

[Install]
WantedBy=multi-user.target